/* Accordion container */
.accordion {
    border: 1px solid #ccc; /* Borde del acordeón */
    margin-bottom: 10px; /* Espacio inferior */
    width: 100%;
  }
  
  /* Accordion header */
  .accordion-header {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    padding: 10px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo del encabezado */
    display: flex; /* Para alinear el contenido horizontalmente */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  /* Accordion header text */
  .accordion-header-text {
    font-weight: bold; /* Texto en negrita */
    align-content: center;
  }
  
  /* Accordion icon */
  .accordion-icon {
    font-size: 1.2em; /* Tamaño del icono */
  }
  
  /* Icono para cuando el acordeón está abierto */
  .accordion-icon.open {
    transform: rotate(45deg); /* Rotación para indicar que está abierto */
  }
  
  /* Accordion content */
  .accordion-content {
    padding: 10px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo del contenido */
  }
  