/*

.catalogCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
}

.catalogCardWrapper {
  flex: 0 0 calc(50% - 20px);
  max-width: calc(50% - 20px);
  margin-bottom: 20px;
  width: 50%;
}

@media (max-width: 768px) {
  .catalogCardWrapper {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

.catalogCard {
  border: 2px solid black;
  transition: transform 0.3s, opacity 0.3s;
}

.card-img {
  width: 100%;
  height: fit-content;
  border-radius: 3%;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.card-body {
  text-align: center;
  width: max-content;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 40px;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px;
}

.slide-up-card {
  animation: slideUp 1s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.error-message {
  color: #ff3838;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 300px;
  animation: fadeIn 0.5s ease-out;
}

.error-message span {
  display: block;
  margin-bottom: 10px;
}

.error-text {
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.catalogCard {
  transition: background-color 0.6s, transform 0.3s, opacity 0.7s;
}

.catalogCard:hover {
  transform: scale(1.05);
  opacity: 2.0;
  cursor: pointer;
  background-color: beige;
}
*/
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    
